Language: Cpp
AccessModifierOffset: -2
AlignAfterOpenBracket: true
PenaltyBreakAssignment: 100
AlignArrayOfStructures: Left

ColumnLimit: 120

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  PadOperators: true
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: false
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
SpaceBeforeParensOptions:
  AfterFunctionDeclarationName: false
  AfterFunctionDefinitionName: false

SeparateDefinitionBlocks: Always
AllowAllArgumentsOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false

BinPackArguments: true
BinPackParameters: OnePerLine
PackConstructorInitializers: CurrentLine

BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterFunction: true
  AfterNamespace: true
  BeforeElse: true
  IndentBraces: true
  SplitEmptyFunction: true

# breaks
BreakBeforeTernaryOperators: true
BreakBeforeBraces: Allman
BreakBeforeBinaryOperators: NonAssignment
BreakStringLiterals: true
BreakInheritanceList: AfterComma
BreakConstructorInitializersBeforeComma: false

ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4

IncludeCategories:
  - Regex: "^<.*>"
    Priority: 1
  - Regex: '^"(crystal/.*)"'
    Priority: 2
  - Regex: "^.*"
    Priority: 3
IncludeIsMainRegex: "$"
IndentCaseLabels: true
IndentWidth: 4
IndentWrappedFunctionNames: true
IndentAccessModifiers: true
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All

PointerAlignment: Left
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpacesInAngles: false
SpacesInContainerLiterals: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: c++11
TabWidth: 4
UseTab: Never
